---
const { posts = [] } = Astro.props;
---

<ul class="blog-list">
  {posts.map((post) => (
    <li class="blog-item">
      <a class="blog-title" href={post.url}>{post.frontmatter.title}</a>
      <div class="blog-meta">
        <span>{String(post.frontmatter.date).split("T")[0]}</span>
        {post.frontmatter.author && (
          <>
            <span class="meta-sep">·</span>
            <a class="author-link" href={`/author/${post.frontmatter.author}/`}>{post.frontmatter.author}</a>
          </>
        )}
      </div>
      {post.frontmatter.description && (
        <p class="blog-summary">{post.frontmatter.description}</p>
      )}
    </li>
  ))}
</ul>
